RewriteEngine on

#заглушка
#RewriteCond %{REMOTE_ADDR} !^194.28.144.192$
#RewriteCond %{REQUEST_URI} !^index.html
#RewriteRule ^.*$ index.html
#RewriteCond %{REMOTE_ADDR} ^194.28.144.192$
#заглушка

RewriteCond %{REQUEST_URI} !^public

RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^(.*)$ public/$1 [L]
