RewriteEngine on

#заглушка
#RewriteCond %{REMOTE_ADDR} !^194.28.144.192$
#RewriteCond %{REQUEST_URI} !^index.html
#RewriteRule ^.*$ index.html
#RewriteCond %{REMOTE_ADDR} ^194.28.144.192$
#заглушка

RewriteCond %{REQUEST_URI} !^public
RewriteRule ^(.*)$ public/$1 [L]
