//// buttons
button{
    outline: none;
    border: none;
}
.export-button{
    display: flex;
    justify-content: center;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #007BFF ;
    border-radius: 6px;
    padding: 14px 16px;
    img{
        margin-right: 10px;
    }
    &:active, &:focus{
        border: none;
        outline: none;
    }

}
.edit-block{
    width: fit-content;
    margin: 30px auto 0 auto;
    padding: 15px;
    background: #007BFF;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 0px 0px;
    button{
        background: #FFFFFF;
        min-width: 270px;
        border: 1px solid #18A0FB;
        box-sizing: border-box;
        border-radius: 6px;
        padding: 25px;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #18A0FB;
        border: none;
        outline: none;

    }
    .next{
        background: #007BFF;
        border-radius: 6px;
        color: #fff;

    }
    .prev{
        background: transparent;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 25px;
        text-align: center;
        color: #212529;
        margin-right: 10px;

    }
}
.step-button-group{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    button{
        min-width: 292px;
        padding: 22px 10px;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 25px;
        border: none;
        outline: none;
        text-align: center;


    }
    .next{
        background: #007BFF;
        border-radius: 6px;
        color: #fff;

    }
    .prev{
        background: transparent;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 25px;
        text-align: center;
        color: #212529;
        margin-right: 10px;

    }
}
@media (max-width: 1199px ) and (min-width: 768px) {
    .edit-block{
        button{
            &:last-of-type{
                margin-top: 10px;
            }
        }
    }
}

@media (max-width: 767px ) and (min-width: 576px) {
    .edit-block{
        button{
                margin-top: 10px;
            
        }
    }
}

@media (max-width: 575px) {
    //// buttons

    .export-button{
        font-size: 15px;
        padding: 10px 12px;
        img{
            margin-right: 8px;
            max-width: 14px;
        }

    }
    .edit-block{

        margin: 20px auto 0 auto;
        padding: 10px;
        border-radius: 10px 10px 0px 0px;
        button{
            min-width: 100%;
            padding: 15px;
            font-size: 16px;
            line-height: 20px;
            margin-top: 10px;
        }
    }
    .step-button-group{
        margin-top: 40px;
        flex-wrap: wrap;
        button{
            min-width: 80%;
            padding: 15px;
            font-size: 20px;
            line-height: 24px;



        }
        .next{
            order: 1;
        }
        .prev{
            font-size: 20px;
            line-height: 24px;
            margin-right: 0px;
            order: 2;

        }
    }

}
