@import 'reset';
@import 'form-elements';
@import 'tables-lists';
@import 'buttons';
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

body {
    line-height: 1;
    min-height: 100vh;
    position: relative;
    background: #fff url("/img/05.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
.error{
    color: red;
    font-size: 16px;
    margin: 10px 0;
}
.pagination{
    justify-content: center;
    margin: 20px;
    .page-link:focus{
        box-shadow: none;
    }
}
.table-list table td span {
    font-weight: bold
}
.wrapper{

    padding: 45px 0;
    .container{
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        padding: 0;
        overflow: hidden;
    }
    .page-content{
        min-height: 50vh;
        padding: 60px 55px;
        background: #FFFFFF;
        .main-content{
            overflow: hidden;
        }
    }
    .general-block {
        max-width: 80%;
    }
}

////titles

.page-title{
    //margin-top: 40px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
}
.blue-page-title{
    padding: 25px 75px;
    background: #007BFF;
    border-radius: 10px 10px 0px 0px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;

}
.subtitle{
    width: fit-content;
    margin: 0 auto;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    border-bottom: 1px solid;
    color: #212529;
    margin-top: 10px;

}
.step-subtitle{
    margin-top: 10px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    color: #212529;
}


//animation
.component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to
    /* .component-fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
}

@media (max-width: 575px) {

    .wrapper{
        padding: 30px 10px;
        .container{
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
        .page-content{
            padding: 30px 15px;
        }
    }

    ////titles
    .page-title{
        font-size: 25px;
        line-height: 29px;
    }
    .blue-page-title{
        padding: 15px 35px;
        font-size: 22px;
        line-height: 25px;

    }
    .subtitle{
        font-size: 18px;
        line-height: 22px;
        margin-top: 10px;

    }
    .step-subtitle{
        margin-top: 10px;
        font-size: 18px;
        line-height: 22px;

    }

}
